.App {
  max-width: 1200px;
  margin: 0 auto;
}

.search-fields {
  margin: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat";
}

.heading {
  text-align: center;
  font-family: "Montserrat";
  margin: 5rem;
  font-size: 3rem;
}

.pagination-row {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}

.pagination-button {
  width: 3rem;
  height: 3rem;
  margin: 0 1rem;
  border: 2px solid black;
  background-color: white;
  border-radius: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.pagination-button.current {
  background-color: black;
  color: white;
}

.pagination-dots {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  letter-spacing: 5px;
}

.search-form {
  width: 50%;
}

.search-field {
  width: 100%;
  height: 2rem;
  border-radius: 1rem;
  padding-left: 1rem;
}
